<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Opleidingen"
		     providerName="System.Data.SQLClient"
		     connectionString="Server=.\sqlexpress2022;Database=EFOpleidingen;Trusted_Connection=true
				;TrustServerCertificate=true" />
	</connectionStrings>
</configuration>